:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  --svg-color: #fff;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h2{
  margin:0.5em
}

.h2-italics {
  font-style: italic;
}

h3 {
  margin-bottom: 16px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5em;
}
button:hover {
  border-color: #343546;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  .website-icon {
    filter: invert(100%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --svg-color: #000;
  }
  a:hover {
    color: #343546;
  }
  button {
    background-color: #f2f0f0;
  }

  .info-button {
    background-color: #ccc;
  }
  
  .info-modal {
    border-color: #e0e0e0;
  }

}

.containerHorizontal {
  display: flex;
  justify-content: space-between; /* or other alignment options */
}

.containerVertical {
  display: flex;
  flex-direction: column;
  align-items: center; /* center aligns items horizontally */
}


.response-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* center aligns items horizontally */
  width: 100%; /* Ensures the div takes the full width available */
}

table {
  margin: 0 auto; /* This centers the table in the horizontal direction if it's less than 100% width */
}

/* .website-icon {
  height: 5em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
} */
.website-icon:hover {
  filter: drop-shadow(0 0 2em #f8d000);
}
.website-icon.react:hover {
  filter: drop-shadow(0 0 2em #d83d38);
}

.website-icon {
  position: static;
  top: 13px;   
  left: 13px;  
  height: 50px; 
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar::before {
  content: ""; /* Necessary for the pseudo-element to show */
  position: absolute; /* This positions the pseudo-element at the top of the navbar */
  top: 0;
  left: 0;
  right: 0;
  height: 10px; /* Adjust this value for desired thickness */
  background-color: #000; /* Change this color to whatever you want the bar to be */
}

.reduced-padding {
  padding-bottom: 0px; 
  margin-bottom: 0px;
}

.about-section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears above other content */
  /* ... existing styles ... */
  overflow-y: auto; /* Enables vertical scrolling if the content overflows */
  max-height: 90vh; /* Restrict the maximum height to 90% of the viewport height */
}


.about-section p {
  text-align: left;
}

input[type="number"] {
  height: 20px;
  width: 45px; /* Adjust as needed */
}

input[type="number"]:focus {
  border-color: #888; /* A color to indicate focus */
  box-shadow: 0 0 10px rgba(100, 108, 255, 0.2); /* A subtle shadow when focused */
}



textarea {
  width: 50%; /* To make the textarea responsive and occupy the full width of its parent */
  height: 10em;
  padding: 10px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* Using the font you have in your :root for consistency */
  font-size: 1em;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 8px; /* Rounded corners for modern look */
  outline: none;
  resize: vertical; /* Allow vertical resizing only */
  transition: border-color 0.3s, box-shadow 0.3s; /* For smooth hover and focus effects */
}

textarea:focus {
  border-color: #646cff; /* A color to indicate focus */
  box-shadow: 0 0 10px rgba(100, 108, 255, 0.2); /* A subtle shadow when focused */
}

textarea::placeholder {
  color: #888; /* A lighter color for placeholder text */
}


@media (prefers-color-scheme: dark) {
  .about-section {
    background-color: #333; /* Dark gray background */
    color: #f5f5f5; /* Light text for visibility */
  }
}

/* This will ensure that on screens or windows narrower than 600px, the about box will take up the full width */
@media (max-width: 800px) {
  .about-section {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* ensures padding doesn't cause overflow */
  }
}



